.container{
    grid-template: 3,5,1fr;
    /* background-color: #FFE8A1; */
    background-color: #B5DDFB;
}

/* --------------- HEADER KISMI --------------- */

.header{
    /* inline veya inline block yaptığımda logo ile menuleri yanyana getiremediğim için flex kullanmayı tercih ettim */
    display: grid;
    grid-template: 3,1,1fr;
    padding: 15px;
    /* background-color: #B5DDFB; */
    background-color: #FFE8A1;

    border-radius: 8px;
}

.logo{
    /* flex-direction: column; */
    /* flex-direction: start; */
    /* flex-grow: 50%; */
    grid-column: 1/2;
    padding-left: 50px;
    /* padding-top: 25px; */

    
}

.logo img{
    width: 17%;
    height: auto;
    padding-top: 10px;
}

/* .logo :hover{
    height: auto;
    width: 25%;
} */



/* .logo :hover{
    border: 5px solid black;
    border-radius: 25px;
} */


.menu{
    display: flex;
    gap: 0;
    /* list-style-type: none; */
    /* flex-grow: 50%; */
    grid-column-start: 2;
    position: relative;
    /* padding-left: 0; */
    /* margin: 0; */
    /* margin-top: 25px;
    margin-left: 150px; */
    padding-top: 5px;
    padding-left: 350px;
}

#tarih{
    padding-left: 6px;
}



.menu button{
    height: 45px;
    width: 150px;
    border: 5px solid transparent;
    background-color: inherit;
}

.menu button :hover{
    background-color: #A8D5BA;
    /* border-color:  azure; */
    font-size: x-large;
    text-shadow: 2px 2px gray;
}

.menu a{
    text-decoration: none;
    /* border: 45px solid transparent; */
    border-right: 35px solid transparent;
    border-left: 35px solid transparent;
    border-top: 48px solid transparent;
    border-bottom: 43px solid transparent;
    transition: all 1s ease;
    color: black;
    font-size: large;
}




/* --------------- BODY NİN İLK KISMI --------------- */



.ilkkisim{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    background-color: #fefae0;
    border-radius: 8px;
}

.ilkkisim p{
    text-align: justify;
    text-indent: 50px;
    padding-right: 70px;
    padding-left: 25px;
    padding-top: 0;
    font-size: 25px;
}

.ilkkisim h1{
    padding-left: 50px;
    padding-bottom: 0;
}

.ilkkisim img{
    padding: 5px;
    margin-top: 50px;
    margin-left: 25px;
    border-radius: 10px;
    height: 330px;
    width: auto;
}


/* --------------- GALERİ KISMI --------------- */


.galeri{
    grid-column: 1 / span 3fr;
    grid-template-rows: 3 / span 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding-top: 10px;
    border-top: 20px solid turquoise;
    border-bottom: 20px solid turquoise;
    padding-bottom: 10px;
    background-color: aquamarine;
}

#item1{
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    height: 414px;
    width: 737px;
    align-self: stretch;
    border: 5px solid transparent;
    border-radius: 6px;
    filter: brightness(0.80);
}

#item1:hover{
    border-color: black !important ;
    filter: brightness(1.5);
}

.galeriItems {
    height: 200px;
    width: 360px;
    border: 5px solid transparent;
    border-radius: 6px;
    filter: brightness(0.80);

}

.galeriItems:hover{
    border-color: black !important;
    filter: brightness(1.5);
    /* grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    height: 414px;
    width: 737px;
    align-self: stretch; */
}






/* FOOTER KISMI */

.footer{
    grid-template-columns: 1 / 3fr;
    display: grid;
    grid-template: 
            "a a b" 40px
            "a a b" 40px
            "c c c" 40px / 1fr 1fr 1fr;
    gap: 10px;
}

.copyright{
    grid-area: 4 / 1 / 3 / 4;
    align-self: center ;    
}

.navigation{
    grid-area: 1 / 1 / 3 / 3;
}

.social{
    grid-area: 1 / 3 / 3 / 4;
}

.navLinks{
    list-style-type: none;
    display: flex;      
}

.socialLinks{
    list-style-type: none;
}

.navLinks li{
    border: 3px solid transparent;
}

.socialLinks li{
    border: 3px solid transparent;
    /* justify-items: center; */
}

.navLinks a{
    text-decoration: none;
    color: black;
}

.socialLinks a{
    text-decoration: none;
    color: black;
}




/* TARİH SAYFASI KISMI HEADER VE FOOTER AYNI  */

.main-content p{
    display: grid;
    overflow: hidden;

}

.butons{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    border: 5px solid transparent;
}

.main-content div{
    width: 100%;
}









/* BURASI KULLANILMIYOR NAVBARI LİSTE İLE YAPAMADIM İSTEDİĞİM GİBİ BUTONLARLA YAPIYORUM */

/* .menu li{
    display: inline; */
    /* margin-left: 50px; */
    /* padding: 7px; */
    /* padding: 0; */
    /* padding-top: 15px;
    padding-bottom: 15px; */
    /* margin: 0; */
    /* border: 5px solid black;
    background-color: aquamarine;
    margin: 25px 0px ;
    padding: 25px 0px ;
} */

/* .menu li :hover , :active{
    background-color: purple;
} */